$GrayishBlue: hsl(237, 18%, 59%);
$SoftRed: hsl(345, 95%, 68%);
$DarkRed : hsl(345, 34%, 25%);

$White: hsl(0, 0%, 100%);
$DarkDesaturated: hsl(236, 21%, 26%);
$VeryDark : hsl(235, 16%, 14%);
$VeryDark2 : hsl(234, 17%, 12%);